<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.AuthorityMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.Authority">
		<id column="w_authority_id" jdbcType="INTEGER" property="wAuthorityId" />
		<result column="w_authority_father_id" jdbcType="INTEGER"
			property="wAuthorityFatherId" />
		<result column="w_authority_name" jdbcType="VARCHAR" property="wAuthorityName" />
		<result column="w_authority_createdate" jdbcType="TIMESTAMP"
			property="wAuthorityCreatedate" />
		<result column="w_authority_type" jdbcType="VARCHAR" property="wAuthorityType" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.common.entity.Authority">
		<result column="w_authority_description" jdbcType="LONGVARCHAR"
			property="wAuthorityDescription" />
	</resultMap>
	<sql id="Base_Column_List">
		w_authority_id, w_authority_father_id, w_authority_name, w_authority_createdate,
		w_authority_type
	</sql>
	<sql id="Blob_Column_List">
		w_authority_description
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from w_authority
		where w_authority_id = #{wAuthorityId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from w_authority
		where w_authority_id = #{wAuthorityId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.common.entity.Authority">
		insert into w_authority (w_authority_id, w_authority_father_id,
		w_authority_name, w_authority_createdate,
		w_authority_type, w_authority_description
		)
		values (#{wAuthorityId,jdbcType=INTEGER},
		#{wAuthorityFatherId,jdbcType=INTEGER},
		#{wAuthorityName,jdbcType=VARCHAR},
		#{wAuthorityCreatedate,jdbcType=TIMESTAMP},
		#{wAuthorityType,jdbcType=VARCHAR},
		#{wAuthorityDescription,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.Authority">
		insert into w_authority
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wAuthorityId != null">
				w_authority_id,
			</if>
			<if test="wAuthorityFatherId != null">
				w_authority_father_id,
			</if>
			<if test="wAuthorityName != null">
				w_authority_name,
			</if>
			<if test="wAuthorityCreatedate != null">
				w_authority_createdate,
			</if>
			<if test="wAuthorityType != null">
				w_authority_type,
			</if>
			<if test="wAuthorityDescription != null">
				w_authority_description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wAuthorityId != null">
				#{wAuthorityId,jdbcType=INTEGER},
			</if>
			<if test="wAuthorityFatherId != null">
				#{wAuthorityFatherId,jdbcType=INTEGER},
			</if>
			<if test="wAuthorityName != null">
				#{wAuthorityName,jdbcType=VARCHAR},
			</if>
			<if test="wAuthorityCreatedate != null">
				#{wAuthorityCreatedate,jdbcType=TIMESTAMP},
			</if>
			<if test="wAuthorityType != null">
				#{wAuthorityType,jdbcType=VARCHAR},
			</if>
			<if test="wAuthorityDescription != null">
				#{wAuthorityDescription,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.common.entity.Authority">
		update w_authority
		<set>
			<if test="wAuthorityFatherId != null">
				w_authority_father_id = #{wAuthorityFatherId,jdbcType=INTEGER},
			</if>
			<if test="wAuthorityName != null">
				w_authority_name = #{wAuthorityName,jdbcType=VARCHAR},
			</if>
			<if test="wAuthorityCreatedate != null">
				w_authority_createdate = #{wAuthorityCreatedate,jdbcType=TIMESTAMP},
			</if>
			<if test="wAuthorityType != null">
				w_authority_type = #{wAuthorityType,jdbcType=VARCHAR},
			</if>
			<if test="wAuthorityDescription != null">
				w_authority_description = #{wAuthorityDescription,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where w_authority_id = #{wAuthorityId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.common.entity.Authority">
		update w_authority
		set w_authority_father_id = #{wAuthorityFatherId,jdbcType=INTEGER},
		w_authority_name = #{wAuthorityName,jdbcType=VARCHAR},
		w_authority_createdate = #{wAuthorityCreatedate,jdbcType=TIMESTAMP},
		w_authority_type = #{wAuthorityType,jdbcType=VARCHAR},
		w_authority_description =
		#{wAuthorityDescription,jdbcType=LONGVARCHAR}
		where w_authority_id = #{wAuthorityId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.common.entity.Authority">
		update w_authority
		set w_authority_father_id = #{wAuthorityFatherId,jdbcType=INTEGER},
		w_authority_name = #{wAuthorityName,jdbcType=VARCHAR},
		w_authority_createdate = #{wAuthorityCreatedate,jdbcType=TIMESTAMP},
		w_authority_type = #{wAuthorityType,jdbcType=VARCHAR}
		where w_authority_id = #{wAuthorityId,jdbcType=INTEGER}
	</update>
</mapper>