<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.DictionaryMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.Dictionary">
		<id column="w_description_id" jdbcType="VARCHAR" property="wDescriptionId" />
		<result column="w_code" jdbcType="VARCHAR" property="wCode" />
		<result column="w_code_name" jdbcType="VARCHAR" property="wCodeName" />
	</resultMap>
	<sql id="Base_Column_List">
		w_description_id, w_code, w_code_name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from w_dictionary
		where w_description_id = #{wDescriptionId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from w_dictionary
		where w_description_id = #{wDescriptionId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.common.entity.Dictionary">
		insert into w_dictionary (w_description_id, w_code, w_code_name
		)
		values (#{wDescriptionId,jdbcType=VARCHAR}, #{wCode,jdbcType=VARCHAR},
		#{wCodeName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.Dictionary">
		insert into w_dictionary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wDescriptionId != null">
				w_description_id,
			</if>
			<if test="wCode != null">
				w_code,
			</if>
			<if test="wCodeName != null">
				w_code_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wDescriptionId != null">
				#{wDescriptionId,jdbcType=VARCHAR},
			</if>
			<if test="wCode != null">
				#{wCode,jdbcType=VARCHAR},
			</if>
			<if test="wCodeName != null">
				#{wCodeName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.common.entity.Dictionary">
		update w_dictionary
		<set>
			<if test="wCode != null">
				w_code = #{wCode,jdbcType=VARCHAR},
			</if>
			<if test="wCodeName != null">
				w_code_name = #{wCodeName,jdbcType=VARCHAR},
			</if>
		</set>
		where w_description_id = #{wDescriptionId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.common.entity.Dictionary">
		update w_dictionary
		set w_code = #{wCode,jdbcType=VARCHAR},
		w_code_name = #{wCodeName,jdbcType=VARCHAR}
		where w_description_id = #{wDescriptionId,jdbcType=VARCHAR}
	</update>
</mapper>