<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.DictionaryDataMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.DictionaryData">
		<id column="w_data_id" jdbcType="INTEGER" property="wDataId" />
		<result column="w_description_id" jdbcType="VARCHAR" property="wDescriptionId" />
		<result column="w_data_name" jdbcType="VARCHAR" property="wDataName" />
	</resultMap>
	<sql id="Base_Column_List">
		w_data_id, w_description_id, w_data_name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from w_dictionary_data
		where w_data_id = #{wDataId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from w_dictionary_data
		where w_data_id = #{wDataId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.common.entity.DictionaryData">
		insert into w_dictionary_data (w_data_id, w_description_id, w_data_name
		)
		values (#{wDataId,jdbcType=INTEGER}, #{wDescriptionId,jdbcType=VARCHAR},
		#{wDataName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.DictionaryData">
		insert into w_dictionary_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wDataId != null">
				w_data_id,
			</if>
			<if test="wDescriptionId != null">
				w_description_id,
			</if>
			<if test="wDataName != null">
				w_data_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wDataId != null">
				#{wDataId,jdbcType=INTEGER},
			</if>
			<if test="wDescriptionId != null">
				#{wDescriptionId,jdbcType=VARCHAR},
			</if>
			<if test="wDataName != null">
				#{wDataName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.common.entity.DictionaryData">
		update w_dictionary_data
		<set>
			<if test="wDescriptionId != null">
				w_description_id = #{wDescriptionId,jdbcType=VARCHAR},
			</if>
			<if test="wDataName != null">
				w_data_name = #{wDataName,jdbcType=VARCHAR},
			</if>
		</set>
		where w_data_id = #{wDataId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.common.entity.DictionaryData">
		update w_dictionary_data
		set w_description_id = #{wDescriptionId,jdbcType=VARCHAR},
		w_data_name = #{wDataName,jdbcType=VARCHAR}
		where w_data_id = #{wDataId,jdbcType=INTEGER}
	</update>
</mapper>