<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.ExpertionLogsMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.ExpertionLogs">
		<id column="w_expertion_id" jdbcType="VARCHAR" property="wExpertionId" />
		<result column="w_login_id" jdbcType="VARCHAR" property="wLoginId" />
		<result column="w_expertion_class" jdbcType="VARCHAR" property="wExpertionClass" />
		<result column="w_expertion_method" jdbcType="VARCHAR"
			property="wExpertionMethod" />
		<result column="w_expertion_type" jdbcType="INTEGER" property="wExpertionType" />
		<result column="w_expertion_time" jdbcType="TIMESTAMP"
			property="wExpertionTime" />
		<result column="w_expertion_status" jdbcType="INTEGER"
			property="wExpertionStatus" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.common.entity.ExpertionLogs">
		<result column="w_expertion_content" jdbcType="LONGVARCHAR"
			property="wExpertionContent" />
	</resultMap>
	<sql id="Base_Column_List">
		w_expertion_id, w_login_id, w_expertion_class, w_expertion_method, w_expertion_type,
		w_expertion_time, w_expertion_status
	</sql>
	<sql id="Blob_Column_List">
		w_expertion_content
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from w_expertion_logs
		where w_expertion_id = #{wExpertionId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from w_expertion_logs
		where w_expertion_id = #{wExpertionId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.common.entity.ExpertionLogs">
		insert into w_expertion_logs (w_expertion_id, w_login_id, w_expertion_class,
		w_expertion_method, w_expertion_type, w_expertion_time,
		w_expertion_status, w_expertion_content
		)
		values (#{wExpertionId,jdbcType=VARCHAR}, #{wLoginId,jdbcType=VARCHAR},
		#{wExpertionClass,jdbcType=VARCHAR},
		#{wExpertionMethod,jdbcType=VARCHAR},
		#{wExpertionType,jdbcType=INTEGER},
		#{wExpertionTime,jdbcType=TIMESTAMP},
		#{wExpertionStatus,jdbcType=INTEGER},
		#{wExpertionContent,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.ExpertionLogs">
		insert into w_expertion_logs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wExpertionId != null">
				w_expertion_id,
			</if>
			<if test="wLoginId != null">
				w_login_id,
			</if>
			<if test="wExpertionClass != null">
				w_expertion_class,
			</if>
			<if test="wExpertionMethod != null">
				w_expertion_method,
			</if>
			<if test="wExpertionType != null">
				w_expertion_type,
			</if>
			<if test="wExpertionTime != null">
				w_expertion_time,
			</if>
			<if test="wExpertionStatus != null">
				w_expertion_status,
			</if>
			<if test="wExpertionContent != null">
				w_expertion_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wExpertionId != null">
				#{wExpertionId,jdbcType=VARCHAR},
			</if>
			<if test="wLoginId != null">
				#{wLoginId,jdbcType=VARCHAR},
			</if>
			<if test="wExpertionClass != null">
				#{wExpertionClass,jdbcType=VARCHAR},
			</if>
			<if test="wExpertionMethod != null">
				#{wExpertionMethod,jdbcType=VARCHAR},
			</if>
			<if test="wExpertionType != null">
				#{wExpertionType,jdbcType=INTEGER},
			</if>
			<if test="wExpertionTime != null">
				#{wExpertionTime,jdbcType=TIMESTAMP},
			</if>
			<if test="wExpertionStatus != null">
				#{wExpertionStatus,jdbcType=INTEGER},
			</if>
			<if test="wExpertionContent != null">
				#{wExpertionContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.common.entity.ExpertionLogs">
		update w_expertion_logs
		<set>
			<if test="wLoginId != null">
				w_login_id = #{wLoginId,jdbcType=VARCHAR},
			</if>
			<if test="wExpertionClass != null">
				w_expertion_class = #{wExpertionClass,jdbcType=VARCHAR},
			</if>
			<if test="wExpertionMethod != null">
				w_expertion_method = #{wExpertionMethod,jdbcType=VARCHAR},
			</if>
			<if test="wExpertionType != null">
				w_expertion_type = #{wExpertionType,jdbcType=INTEGER},
			</if>
			<if test="wExpertionTime != null">
				w_expertion_time = #{wExpertionTime,jdbcType=TIMESTAMP},
			</if>
			<if test="wExpertionStatus != null">
				w_expertion_status = #{wExpertionStatus,jdbcType=INTEGER},
			</if>
			<if test="wExpertionContent != null">
				w_expertion_content = #{wExpertionContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where w_expertion_id = #{wExpertionId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.common.entity.ExpertionLogs">
		update w_expertion_logs
		set w_login_id = #{wLoginId,jdbcType=VARCHAR},
		w_expertion_class = #{wExpertionClass,jdbcType=VARCHAR},
		w_expertion_method = #{wExpertionMethod,jdbcType=VARCHAR},
		w_expertion_type = #{wExpertionType,jdbcType=INTEGER},
		w_expertion_time = #{wExpertionTime,jdbcType=TIMESTAMP},
		w_expertion_status = #{wExpertionStatus,jdbcType=INTEGER},
		w_expertion_content = #{wExpertionContent,jdbcType=LONGVARCHAR}
		where w_expertion_id = #{wExpertionId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.common.entity.ExpertionLogs">
		update w_expertion_logs
		set w_login_id = #{wLoginId,jdbcType=VARCHAR},
		w_expertion_class = #{wExpertionClass,jdbcType=VARCHAR},
		w_expertion_method = #{wExpertionMethod,jdbcType=VARCHAR},
		w_expertion_type = #{wExpertionType,jdbcType=INTEGER},
		w_expertion_time = #{wExpertionTime,jdbcType=TIMESTAMP},
		w_expertion_status = #{wExpertionStatus,jdbcType=INTEGER}
		where w_expertion_id = #{wExpertionId,jdbcType=VARCHAR}
	</update>
</mapper>