<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.MenuMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.Menu">
		<id column="w_menu_id" jdbcType="INTEGER" property="wMenuId" />
		<result column="w_menu_father_id" jdbcType="INTEGER" property="wMenuFatherId" />
		<result column="w_menu_name" jdbcType="VARCHAR" property="wMenuName" />
		<result column="w_menu_type" jdbcType="INTEGER" property="wMenuType" />
		<result column="w_menu_url" jdbcType="VARCHAR" property="wMenuUrl" />
		<result column="w_menu_controller" jdbcType="VARCHAR" property="wMenuController" />
		<result column="w_menu_icon" jdbcType="VARCHAR" property="wMenuIcon" />
		<result column="w_menu_resources" jdbcType="INTEGER" property="wMenuResources" />
		<result column="w_menu_status" jdbcType="INTEGER" property="wMenuStatus" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.common.entity.Menu">
		<result column="w_menu_description" jdbcType="LONGVARCHAR"
			property="wMenuDescription" />
	</resultMap>
	<sql id="Base_Column_List">
		w_menu_id, w_menu_father_id, w_menu_name, w_menu_type,
		w_menu_url,
		w_menu_controller,
		w_menu_icon, w_menu_resources,
		w_menu_status
	</sql>
	<sql id="Blob_Column_List">
		w_menu_description
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from w_menu
		where w_menu_id = #{wMenuId,jdbcType=INTEGER}
	</select>

	<select id="selectByMenuFatherId" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from w_menu
		where w_menu_father_id =#{wMenuFatherId,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from w_menu
		where w_menu_id = #{wMenuId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.common.entity.Menu">
		insert into w_menu (w_menu_id,
		w_menu_father_id, w_menu_name,
		w_menu_type, w_menu_url,
		w_menu_controller,
		w_menu_icon, w_menu_resources, w_menu_status,
		w_menu_description)
		values (#{wMenuId,jdbcType=INTEGER},
		#{wMenuFatherId,jdbcType=INTEGER},
		#{wMenuName,jdbcType=VARCHAR},
		#{wMenuType,jdbcType=INTEGER}, #{wMenuUrl,jdbcType=VARCHAR},
		#{wMenuController,jdbcType=VARCHAR},
		#{wMenuIcon,jdbcType=VARCHAR},
		#{wMenuResources,jdbcType=INTEGER},
		#{wMenuStatus,jdbcType=INTEGER},
		#{wMenuDescription,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.Menu">
		insert into w_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wMenuId != null">
				w_menu_id,
			</if>
			<if test="wMenuFatherId != null">
				w_menu_father_id,
			</if>
			<if test="wMenuName != null">
				w_menu_name,
			</if>
			<if test="wMenuType != null">
				w_menu_type,
			</if>
			<if test="wMenuUrl != null">
				w_menu_url,
			</if>
			<if test="wMenuController != null">
				w_menu_controller,
			</if>
			<if test="wMenuIcon != null">
				w_menu_icon,
			</if>
			<if test="wMenuResources != null">
				w_menu_resources,
			</if>
			<if test="wMenuStatus != null">
				w_menu_status,
			</if>
			<if test="wMenuDescription != null">
				w_menu_description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wMenuId != null">
				#{wMenuId,jdbcType=INTEGER},
			</if>
			<if test="wMenuFatherId != null">
				#{wMenuFatherId,jdbcType=INTEGER},
			</if>
			<if test="wMenuName != null">
				#{wMenuName,jdbcType=VARCHAR},
			</if>
			<if test="wMenuType != null">
				#{wMenuType,jdbcType=INTEGER},
			</if>
			<if test="wMenuUrl != null">
				#{wMenuUrl,jdbcType=VARCHAR},
			</if>
			<if test="wMenuController != null">
				#{wMenuController,jdbcType=VARCHAR},
			</if>
			<if test="wMenuIcon != null">
				#{wMenuIcon,jdbcType=VARCHAR},
			</if>
			<if test="wMenuResources != null">
				#{wMenuResources,jdbcType=INTEGER},
			</if>
			<if test="wMenuStatus != null">
				#{wMenuStatus,jdbcType=INTEGER},
			</if>
			<if test="wMenuDescription != null">
				#{wMenuDescription,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.common.entity.Menu">
		update w_menu
		<set>
			<if test="wMenuFatherId != null">
				w_menu_father_id = #{wMenuFatherId,jdbcType=INTEGER},
			</if>
			<if test="wMenuName != null">
				w_menu_name = #{wMenuName,jdbcType=VARCHAR},
			</if>
			<if test="wMenuType != null">
				w_menu_type = #{wMenuType,jdbcType=INTEGER},
			</if>
			<if test="wMenuUrl != null">
				w_menu_url = #{wMenuUrl,jdbcType=VARCHAR},
			</if>
			<if test="wMenuController != null">
				w_menu_controller = #{wMenuController,jdbcType=VARCHAR},
			</if>
			<if test="wMenuIcon != null">
				w_menu_icon = #{wMenuIcon,jdbcType=VARCHAR},
			</if>
			<if test="wMenuResources != null">
				w_menu_resources = #{wMenuResources,jdbcType=INTEGER},
			</if>
			<if test="wMenuStatus != null">
				w_menu_status = #{wMenuStatus,jdbcType=INTEGER},
			</if>
			<if test="wMenuDescription != null">
				w_menu_description =
				#{wMenuDescription,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where w_menu_id = #{wMenuId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.common.entity.Menu">
		update
		w_menu
		set w_menu_father_id = #{wMenuFatherId,jdbcType=INTEGER},
		w_menu_name = #{wMenuName,jdbcType=VARCHAR},
		w_menu_type =
		#{wMenuType,jdbcType=INTEGER},
		w_menu_url =
		#{wMenuUrl,jdbcType=VARCHAR},
		w_menu_controller =
		#{wMenuController,jdbcType=VARCHAR},
		w_menu_icon =
		#{wMenuIcon,jdbcType=VARCHAR},
		w_menu_resources =
		#{wMenuResources,jdbcType=INTEGER},
		w_menu_status =
		#{wMenuStatus,jdbcType=INTEGER},
		w_menu_description =
		#{wMenuDescription,jdbcType=LONGVARCHAR}
		where w_menu_id =
		#{wMenuId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.common.entity.Menu">
		update w_menu
		set
		w_menu_father_id = #{wMenuFatherId,jdbcType=INTEGER},
		w_menu_name =
		#{wMenuName,jdbcType=VARCHAR},
		w_menu_type =
		#{wMenuType,jdbcType=INTEGER},
		w_menu_url =
		#{wMenuUrl,jdbcType=VARCHAR},
		w_menu_controller =
		#{wMenuController,jdbcType=VARCHAR},
		w_menu_icon =
		#{wMenuIcon,jdbcType=VARCHAR},
		w_menu_resources =
		#{wMenuResources,jdbcType=INTEGER},
		w_menu_status =
		#{wMenuStatus,jdbcType=INTEGER}
		where w_menu_id =
		#{wMenuId,jdbcType=INTEGER}
	</update>
</mapper>