<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.UserAuthorityRelationMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.UserAuthorityRelationKey">
		<id column="w_user_id" jdbcType="VARCHAR" property="wUserId" />
		<id column="w_authority_id" jdbcType="INTEGER" property="wAuthorityId" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="com.common.entity.UserAuthorityRelationKey">
		delete from w_user_authority_relation
		where w_user_id = #{wUserId,jdbcType=VARCHAR}
		and w_authority_id = #{wAuthorityId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.common.entity.UserAuthorityRelationKey">
		insert into w_user_authority_relation (w_user_id, w_authority_id)
		values (#{wUserId,jdbcType=VARCHAR}, #{wAuthorityId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.UserAuthorityRelationKey">
		insert into w_user_authority_relation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wUserId != null">
				w_user_id,
			</if>
			<if test="wAuthorityId != null">
				w_authority_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wUserId != null">
				#{wUserId,jdbcType=VARCHAR},
			</if>
			<if test="wAuthorityId != null">
				#{wAuthorityId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>