<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.common.entity.User">
		<id column="w_user_id" jdbcType="VARCHAR" property="wUserId" />
		<result column="w_login_id" jdbcType="VARCHAR" property="wLoginId" />
		<result column="w_organization_id" jdbcType="INTEGER" property="wOrganizationId" />
		<result column="w_user_name" jdbcType="VARCHAR" property="wUserName" />
		<result column="w_user_sex" jdbcType="INTEGER" property="wUserSex" />
		<result column="w_user_age" jdbcType="INTEGER" property="wUserAge" />
		<result column="w_user_phone" jdbcType="VARCHAR" property="wUserPhone" />
		<result column="w_user_tel" jdbcType="VARCHAR" property="wUserTel" />
		<result column="w_user_email" jdbcType="VARCHAR" property="wUserEmail" />
		<result column="w_user_createdate" jdbcType="TIMESTAMP"
			property="wUserCreatedate" />
		<result column="w_user_status" jdbcType="INTEGER" property="wUserStatus" />
	</resultMap>
	<sql id="Base_Column_List">
		w_user_id, w_login_id, w_organization_id, w_user_name, w_user_sex, w_user_age,
		w_user_phone,
		w_user_tel, w_user_email, w_user_createdate, w_user_status
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from w_user
		where w_user_id = #{wUserId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from w_user
		where w_user_id = #{wUserId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.common.entity.User">
		insert into w_user (w_user_id, w_login_id, w_organization_id,
		w_user_name, w_user_sex, w_user_age,
		w_user_phone, w_user_tel, w_user_email,
		w_user_createdate, w_user_status)
		values (#{wUserId,jdbcType=VARCHAR}, #{wLoginId,jdbcType=VARCHAR},
		#{wOrganizationId,jdbcType=INTEGER},
		#{wUserName,jdbcType=VARCHAR}, #{wUserSex,jdbcType=INTEGER}, #{wUserAge,jdbcType=INTEGER},
		#{wUserPhone,jdbcType=VARCHAR}, #{wUserTel,jdbcType=VARCHAR},
		#{wUserEmail,jdbcType=VARCHAR},
		#{wUserCreatedate,jdbcType=TIMESTAMP}, #{wUserStatus,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.common.entity.User">
		insert into w_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wUserId != null">
				w_user_id,
			</if>
			<if test="wLoginId != null">
				w_login_id,
			</if>
			<if test="wOrganizationId != null">
				w_organization_id,
			</if>
			<if test="wUserName != null">
				w_user_name,
			</if>
			<if test="wUserSex != null">
				w_user_sex,
			</if>
			<if test="wUserAge != null">
				w_user_age,
			</if>
			<if test="wUserPhone != null">
				w_user_phone,
			</if>
			<if test="wUserTel != null">
				w_user_tel,
			</if>
			<if test="wUserEmail != null">
				w_user_email,
			</if>
			<if test="wUserCreatedate != null">
				w_user_createdate,
			</if>
			<if test="wUserStatus != null">
				w_user_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wUserId != null">
				#{wUserId,jdbcType=VARCHAR},
			</if>
			<if test="wLoginId != null">
				#{wLoginId,jdbcType=VARCHAR},
			</if>
			<if test="wOrganizationId != null">
				#{wOrganizationId,jdbcType=INTEGER},
			</if>
			<if test="wUserName != null">
				#{wUserName,jdbcType=VARCHAR},
			</if>
			<if test="wUserSex != null">
				#{wUserSex,jdbcType=INTEGER},
			</if>
			<if test="wUserAge != null">
				#{wUserAge,jdbcType=INTEGER},
			</if>
			<if test="wUserPhone != null">
				#{wUserPhone,jdbcType=VARCHAR},
			</if>
			<if test="wUserTel != null">
				#{wUserTel,jdbcType=VARCHAR},
			</if>
			<if test="wUserEmail != null">
				#{wUserEmail,jdbcType=VARCHAR},
			</if>
			<if test="wUserCreatedate != null">
				#{wUserCreatedate,jdbcType=TIMESTAMP},
			</if>
			<if test="wUserStatus != null">
				#{wUserStatus,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.common.entity.User">
		update w_user
		<set>
			<if test="wLoginId != null">
				w_login_id = #{wLoginId,jdbcType=VARCHAR},
			</if>
			<if test="wOrganizationId != null">
				w_organization_id = #{wOrganizationId,jdbcType=INTEGER},
			</if>
			<if test="wUserName != null">
				w_user_name = #{wUserName,jdbcType=VARCHAR},
			</if>
			<if test="wUserSex != null">
				w_user_sex = #{wUserSex,jdbcType=INTEGER},
			</if>
			<if test="wUserAge != null">
				w_user_age = #{wUserAge,jdbcType=INTEGER},
			</if>
			<if test="wUserPhone != null">
				w_user_phone = #{wUserPhone,jdbcType=VARCHAR},
			</if>
			<if test="wUserTel != null">
				w_user_tel = #{wUserTel,jdbcType=VARCHAR},
			</if>
			<if test="wUserEmail != null">
				w_user_email = #{wUserEmail,jdbcType=VARCHAR},
			</if>
			<if test="wUserCreatedate != null">
				w_user_createdate = #{wUserCreatedate,jdbcType=TIMESTAMP},
			</if>
			<if test="wUserStatus != null">
				w_user_status = #{wUserStatus,jdbcType=INTEGER},
			</if>
		</set>
		where w_user_id = #{wUserId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.common.entity.User">
		update w_user
		set w_login_id = #{wLoginId,jdbcType=VARCHAR},
		w_organization_id = #{wOrganizationId,jdbcType=INTEGER},
		w_user_name = #{wUserName,jdbcType=VARCHAR},
		w_user_sex = #{wUserSex,jdbcType=INTEGER},
		w_user_age = #{wUserAge,jdbcType=INTEGER},
		w_user_phone = #{wUserPhone,jdbcType=VARCHAR},
		w_user_tel = #{wUserTel,jdbcType=VARCHAR},
		w_user_email = #{wUserEmail,jdbcType=VARCHAR},
		w_user_createdate = #{wUserCreatedate,jdbcType=TIMESTAMP},
		w_user_status = #{wUserStatus,jdbcType=INTEGER}
		where w_user_id = #{wUserId,jdbcType=VARCHAR}
	</update>
</mapper>