<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.UserLoginLogsMapper">
  <resultMap id="BaseResultMap" type="com.common.entity.UserLoginLogs">
    <id column="w_login_logs_id" jdbcType="VARCHAR" property="wLoginLogsId" />
    <result column="w_login_id" jdbcType="VARCHAR" property="wLoginId" />
    <result column="w_login_logs_ip" jdbcType="VARCHAR" property="wLoginLogsIp" />
    <result column="w_login_logs_mac" jdbcType="VARCHAR" property="wLoginLogsMac" />
    <result column="w_login_logs_systype" jdbcType="INTEGER" property="wLoginLogsSystype" />
    <result column="w_login_logs_createdate" jdbcType="TIMESTAMP" property="wLoginLogsCreatedate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.common.entity.UserLoginLogs">
    <result column="w_login_logs_description" jdbcType="LONGVARCHAR" property="wLoginLogsDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    w_login_logs_id, w_login_id, w_login_logs_ip, w_login_logs_mac, w_login_logs_systype, 
    w_login_logs_createdate
  </sql>
  <sql id="Blob_Column_List">
    w_login_logs_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from w_user_login_logs
    where w_login_logs_id = #{wLoginLogsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from w_user_login_logs
    where w_login_logs_id = #{wLoginLogsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.common.entity.UserLoginLogs">
    insert into w_user_login_logs (w_login_logs_id, w_login_id, w_login_logs_ip, 
      w_login_logs_mac, w_login_logs_systype, w_login_logs_createdate, 
      w_login_logs_description)
    values (#{wLoginLogsId,jdbcType=VARCHAR}, #{wLoginId,jdbcType=VARCHAR}, #{wLoginLogsIp,jdbcType=VARCHAR}, 
      #{wLoginLogsMac,jdbcType=VARCHAR}, #{wLoginLogsSystype,jdbcType=INTEGER}, #{wLoginLogsCreatedate,jdbcType=TIMESTAMP}, 
      #{wLoginLogsDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.common.entity.UserLoginLogs">
    insert into w_user_login_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wLoginLogsId != null">
        w_login_logs_id,
      </if>
      <if test="wLoginId != null">
        w_login_id,
      </if>
      <if test="wLoginLogsIp != null">
        w_login_logs_ip,
      </if>
      <if test="wLoginLogsMac != null">
        w_login_logs_mac,
      </if>
      <if test="wLoginLogsSystype != null">
        w_login_logs_systype,
      </if>
      <if test="wLoginLogsCreatedate != null">
        w_login_logs_createdate,
      </if>
      <if test="wLoginLogsDescription != null">
        w_login_logs_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wLoginLogsId != null">
        #{wLoginLogsId,jdbcType=VARCHAR},
      </if>
      <if test="wLoginId != null">
        #{wLoginId,jdbcType=VARCHAR},
      </if>
      <if test="wLoginLogsIp != null">
        #{wLoginLogsIp,jdbcType=VARCHAR},
      </if>
      <if test="wLoginLogsMac != null">
        #{wLoginLogsMac,jdbcType=VARCHAR},
      </if>
      <if test="wLoginLogsSystype != null">
        #{wLoginLogsSystype,jdbcType=INTEGER},
      </if>
      <if test="wLoginLogsCreatedate != null">
        #{wLoginLogsCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="wLoginLogsDescription != null">
        #{wLoginLogsDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.entity.UserLoginLogs">
    update w_user_login_logs
    <set>
      <if test="wLoginId != null">
        w_login_id = #{wLoginId,jdbcType=VARCHAR},
      </if>
      <if test="wLoginLogsIp != null">
        w_login_logs_ip = #{wLoginLogsIp,jdbcType=VARCHAR},
      </if>
      <if test="wLoginLogsMac != null">
        w_login_logs_mac = #{wLoginLogsMac,jdbcType=VARCHAR},
      </if>
      <if test="wLoginLogsSystype != null">
        w_login_logs_systype = #{wLoginLogsSystype,jdbcType=INTEGER},
      </if>
      <if test="wLoginLogsCreatedate != null">
        w_login_logs_createdate = #{wLoginLogsCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="wLoginLogsDescription != null">
        w_login_logs_description = #{wLoginLogsDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where w_login_logs_id = #{wLoginLogsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.common.entity.UserLoginLogs">
    update w_user_login_logs
    set w_login_id = #{wLoginId,jdbcType=VARCHAR},
      w_login_logs_ip = #{wLoginLogsIp,jdbcType=VARCHAR},
      w_login_logs_mac = #{wLoginLogsMac,jdbcType=VARCHAR},
      w_login_logs_systype = #{wLoginLogsSystype,jdbcType=INTEGER},
      w_login_logs_createdate = #{wLoginLogsCreatedate,jdbcType=TIMESTAMP},
      w_login_logs_description = #{wLoginLogsDescription,jdbcType=LONGVARCHAR}
    where w_login_logs_id = #{wLoginLogsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.entity.UserLoginLogs">
    update w_user_login_logs
    set w_login_id = #{wLoginId,jdbcType=VARCHAR},
      w_login_logs_ip = #{wLoginLogsIp,jdbcType=VARCHAR},
      w_login_logs_mac = #{wLoginLogsMac,jdbcType=VARCHAR},
      w_login_logs_systype = #{wLoginLogsSystype,jdbcType=INTEGER},
      w_login_logs_createdate = #{wLoginLogsCreatedate,jdbcType=TIMESTAMP}
    where w_login_logs_id = #{wLoginLogsId,jdbcType=VARCHAR}
  </update>
</mapper>